body {
    background-color:royalblue;
}

.usertitle {
    font-size: 25px;
    color:gold;
}

textarea {
    background-color:bisque;
    color:navy;
    font-size: 18px;
    padding: 10px;
}

button {
    background-color:bisque;
    color:navy;
    margin: 5px;
}

textarea::placeholder {
    color:navy;
}

.layer0 {
    display: flex;
}

.layer1 {
    font-size: 20px;
    color:gold;
    opacity: 0;
    transition: opacity 0.3s;
    margin: 10px;
    display: flex;
    flex-direction: column; /* 요소들을 세로로 배치 */
    align-items: flex-start; /* 좌측 정렬 */
}

.layer4 {
    font-size: 20px;
    color:gold;
    flex-direction: column; /* 요소들을 세로로 배치 */
    align-items: flex-start; /* 좌측 정렬 */
    opacity: 0;
    transition: opacity 0.7s;
}

#button5 {
    font-size: 20px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.layer2 {
    font-size: 20px;
    color:gold;
    transition: opacity 0.3s;
    margin: 10px;
}

.layer3 {
    padding-top: 0%;
    padding-bottom: 0%;
    white-space: pre-line;
}